:root {
    --white: #ffffff;
    --black: #000000;
    --gold: #b59f5b;
    --gold-light: #e1d9bd;
    --gray-dark: #626161;
    --gray: #9a9a9a;
    --gray-light: #f4f7f6;
}
body {
    margin: 0;
    background-color: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0 0 1 rem;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
}
.header {
    padding: 1.5rem 0;
    

}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    padding: 0.5rem 1.2rem;
    width:100%;
    background-color: #f4f7f6;
    
}
.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    
}
.nav-link {
    margin-left: 0.8rem;
    position: relative;
    font-size: 0.6rem;
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    line-height: 2rem;
    text-transform: uppercase;
    color: #0f0d0e;
    text-decoration: none;
}
.nav-link:hover {
    color: #b59f5b;
}
.arrow-image {
    margin-left: 0.1rem;
}
.social {
    display: flex;
    
    
}
.social-link {
    margin-right: 1.3rem;
    text-decoration: none;
}
.social-link:hover {
    transform: translateY(-5px);
}
.featured {
    display: flex;
    padding-top: 2rem;
    
}

.logo {
    font-family: 'JosefinSans', sans-serif;
    font-size: 3.4rem;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.18em;
    color: #000000;
   
}
.featured-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}
.featured-posts {
    padding-top: 3.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.post-1, .post-2, .post-3 {
    position: relative;
    
}
.post-text {
    position: absolute;
    bottom: 30px;
    right: 25px;
    left: 25px;
    color: white;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    text-align: center;
    border: 1px solid #b59f5b;
    margin-bottom: 15px;
}
.post-tags {
    font-family: 'OpenSans', sans-serif;
    font-size: 0.5rem;
    line-height: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #b59f5b;
    
}

.post-name {
    font-family: 'JosefinSans', sans-serif;
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}
.post-info {
    position: absolute;
    bottom: 45px;
    right: 10px;
    left: 10px;
    color: white;
    padding-top: 8px;
    padding-left: 25px;
    padding-right: 23px;
    display: flex;
    justify-content: space-between;
    
}

.post-date, .post-comments-num, .copyright {
    opacity: 0.54;
    font-family: 'OpenSans', sans-serif;
    font-size: 0.5rem;
    line-height: 1rem;
    font-weight: 300;
    color: #ffffff;
}

.post-comments {
    display: flex;
    
    
}

.comments-img {
    margin-right: 2px;
    transform: scale(0.6, 0.6);
}



.featured-posts-img {
    flex-wrap: wrap;
    margin-left: 0.1rem;
    max-width: 99%;
}
.wall-inner {
    display: flex;
    justify-content: space-between;
    padding: 2rem 11rem;
    
}


.blog-img {
    transform: scale(0.65, 0.65)
}

.blog-1, .blog-2, .blog-3, .blog-4 {
    display: flex;
}



.right-side {
    position: relative;
    
}

.blog-frame {
    transform: scale(0.6, 0.6);
    position: absolute;
    right: -245px;
    bottom: 140px;

}

 .blog-text {
    position: absolute;
    top: 35px;
    left: -50px;
    color: black;
    padding-bottom: 5px;
    text-align: left;
 }

.black-text {
    color: black;
}

 .blog-info {
    padding-top: 0.8rem;
    display: flex; 
 }
 
 .blog-author {
    font-family: 'OpenSans';
    font-size: 0.5rem;
    line-height: 1rem;
    font-weight: 700;
    color: #000000;
    margin-left: 1rem
 }
 .blog-paragraph {
     padding-top: 2.5rem;
     padding-right: 1.5rem;
     opacity: 0.7;
     font-family: 'OpenSans';
     font-size: 0.6rem;
     line-height: 1rem;
     font-weight: 400;
     color: #0f0d0e;
     
 }

 .three-dots {
    transform: scale(0.6, 0.5);
    margin-left: -0.3rem;
    margin-top: 1rem;
 }
 .blog-comments {
    display: flex;
    justify-content: flex-end;
    
}


 .share {
     display: flex;
     justify-content: space-around;
     margin-top: 2rem;
     margin-right: 5.6rem;
     margin-left: -3rem;
    
     
 }
 .share-btn {
    opacity: 0.54;
    font-family: 'Raleway';
    font-size: 0.5rem;
    line-height: 1rem;
    font-weight: 400;
    color: #0f0d0e;
    margin-left: 7rem;
    margin-right: 0.6rem;
    
 }
 .share-social {
    transform: scale(0.55, 0.55);

}

 .line {
     margin-left: -8.3rem;
     transform: scale(0.56, 0.56);
     
 }

 .footer-inner {
     margin-top: 3rem;
     
 }
 .insta {
     text-align: center;
     
 }
 .insta-link {
     text-decoration: none;
     
 }
 .insta-pic {
     transform: scale(0.6, 0.6);
 }
 .icon {
     padding-bottom: 0.4rem;
     margin-right: -1rem;
 }
 .footer-img {
     display: flex;
     justify-content: space-around;
 
     transform: scale(0.78, 0.78);
 }
 .footer-social {
     margin: 0 -2rem 0 -2rem;
     padding: 0.4rem;
     display: flex;
     justify-content: center;
     background-color: #f4f7f6;
 }
 .on-top {
     margin-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(0.6, 0.6);
 }
 .copyright {
     text-align: center;
     margin-bottom: 1rem;
 }

 @media(max-width: 1199px) {
     .featured-logo {
        margin-left: 5.5rem;
     }
    .featured-posts {
         display: flex;
         flex-wrap: wrap;
         margin-left: 17rem;
     }
     .social {
         display: none;
     }
     .header-inner {
        display: flex;
        justify-content: space-around;
        margin-left: 5.5rem;
     }
     .blog {
        margin-left: 3rem;
     }
     .insta {
         margin-right: -7rem;
     }
     .footer-img {
         display: flex;
         margin-right: -5rem;
         
         
     }
     .footer-social {
         margin-right: -13rem;
         margin-left: -5rem;
         
     }

    .footer-add {
        margin-right: -6.5rem;
    }
}
    @media(max-width: 767px) {
        .featured-posts {
            width: 155%;
            margin-left: 5rem;
        }
        .featured-logo {
            margin-left: 13rem;
        }
        .featured-img {
            margin-left: 5.5rem;
        }         
        .nav {
            margin-left: 0;
            padding-left: 6rem;
            flex-wrap: nowrap;
            
        }
        .blog {
            margin-left: -10rem;
        }
        .footer-inner {
            margin-top: -0.3rem;
        }
        .insta {
            margin-left: 16rem;
        }
        .footer-img {
            transform: scale(0.46, 0.46);
            margin-left: 15.5rem;
            margin-top: -3rem;
        }
        .footer-social {
            margin-left: -2rem;
            
            padding-right: 20rem;
            padding-left: 24rem;
        }
        .footer-add {
            margin-left: 15.5rem;
        }
   
       


    }
   
    
 
